.main-container{
    display:flex;
    flex-direction: row;
    width:70%;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;

    
}

.category-name{
    font-size: 1.5em;
    font-weight: bold;
}



